.block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    position: relative;
    max-width: 1400px;
    margin: auto;
}

.block {
    width: calc(33.33% - 20px);
    max-height: 100%;
    background-color: #fff;
    margin: 10px;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
}

.credit {
    text-indent: -1.5em;
    padding-left: 1.5em;
    margin: 0;
    font-size: 16px;
    align-items: center;
}

@media screen and (max-width: 768px){
    .block-container {
      flex-wrap: wrap;
    }
  
    .block {
      width: 100%;
      margin: 10px 0;
    }
}
